.bg-img
    .filter.image(style="background-image:url('https://source.unsplash.com/category/buildings')")
    .content
        .title
            h1.hero.uppercase.margin-0
                strong Background image
            h2.light.medium Random background image powered by https://source.unsplash.com/

