header.bg-img.bg-img-full
    .filter.image(style="background-image:url('https://source.unsplash.com/category/nature')")
    .content
        .title
            h1.hero.uppercase.margin-0
                strong Full header
            h2.light.medium Random background image powered by https://source.unsplash.com/
            a(class ="scroll-icon" href data-scroll="true" data-id="#scroll")
                i.fa.fa-angle-down.full-width
