section#scroll.section-lg
    .container.txt.text-center
        h1 Lorem ipsum
        .separator ♦
        p.medium.light
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem et illo officiis, pariatur provident repudiandae unde veniam. Ab cumque deleniti optio?
