section.section
    h1.text-center.uppercase.text-primary Buttons
    section
        h2 Material style
        .row.text-center
            a.btn.btn-default(href='#') Default button
            a.btn(href='#') Button
            a.btn.btn-info(href='#') Button info
            a.btn.btn-success(href='#') Button success
            a.btn.btn-warning(href='#') Button warning
            a.btn.btn-danger(href='#') Button danger
        .row.text-center
            button.btn.btn-outline-default Outlined default
            button.btn.btn-outline Outlined button
            button.btn.btn-outline-info Outlined info
            button.btn.btn-outline-success Outlined success
            button.btn.btn-outline-warning Outlined warning
            button.btn.btn-outline-danger Outlined danger
    .space-25
    section
        h2 Rounded buttons
        .row.text-center
            a.btn.btn-round.btn-default(href='#') Default button
            a.btn.btn-round.btn(href='#') Button
            a.btn.btn-round.btn-info(href='#') Button info
            a.btn.btn-round.btn-success(href='#') Button success
            a.btn.btn-round.btn-warning(href='#') Button warning
            a.btn.btn-round.btn-danger(href='#') Button danger
        .row.text-center
            button.btn.btn-round.btn-outline-default Outlined default
            button.btn.btn-round.btn-outline Outlined button
            button.btn.btn-round.btn-outline-info Outlined info
            button.btn.btn-round.btn-outline-success Outlined success
            button.btn.btn-round.btn-outline-warning Outlined warning
            button.btn.btn-round.btn-outline-danger Outlined danger

