section.margin-top
    h1.text-center.uppercase.text-primary Cards
    .row
        .col.four
            .card
                header
                    h1.card-title This is a card
                    .card-content
                        |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, alias dolorum eos
                        |exercitationem expedita id inventore labore natus nostrum obcaecati odit, praesentium,
                        |sint tenetur. Autem cupiditate iste natus quae repellendus?
        .col.four
            .card
                header
                    h1.card-title This is a card
                    .card-content
                        |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, alias dolorum eos
                        |exercitationem expedita id inventore labore natus nostrum obcaecati odit, praesentium,
                        |sint tenetur. Autem cupiditate iste natus quae repellendus?
        .col.four
            .card
                header
                    h1.card-title This is a card
                    .card-content
                        |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, alias dolorum eos
                        |exercitationem expedita id inventore labore natus nostrum obcaecati odit, praesentium,
                        |sint tenetur. Autem cupiditate iste natus quae repellendus?

