section
    h1.text-center.uppercase.text-primary Flex grid
    .flex-row
        p.col
            b class=&quot;col&quot;
            br
            |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam consectetur dolor
            |incidunt magnam maiores, officiis! Eum magnam molestias nam vero?
        p.col
            b class=&quot;col&quot;
            br
            |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad culpa delectus et
            |excepturi ipsam nulla quaerat quisquam velit vero voluptate!
        p.col
            b class=&quot;col&quot;
            br
            |Lorem ipsum dolor sit amet, consectetur adipisicing elit. At consequuntur dignissimos
            |doloribus excepturi illum nam nulla, placeat quidem quisquam repudiandae.
    .space-25
    .flex-row
        p.col
            b class=&quot;col&quot;
            br
            |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam consectetur dolor
            |incidunt magnam maiores, officiis! Eum magnam molestias nam vero?
        p.col
            b class=&quot;col&quot;
            br
            |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad culpa delectus et
            |excepturi ipsam nulla quaerat quisquam velit vero voluptate!
        p.col
            b class=&quot;col&quot;
            br
            |Lorem ipsum dolor sit amet, consectetur adipisicing elit. At consequuntur dignissimos
            |doloribus excepturi illum nam nulla, placeat quidem quisquam repudiandae.
        p.col
            b class=&quot;col&quot;
            br
            |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto aut consequatur
            |dolore ducimus inventore iure perspiciatis porro sapiente temporibus vitae!
    .space-25
    .flex-row
        p.col
            b class=&quot;col&quot;
            br
            |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam est, fuga
            |inventore laboriosam maiores nemo quas veritatis vitae voluptatem.
        p.col.col-50.col-offset-25
            b class=&quot;col col-50 col-offset-25&quot;
            br
            |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci eius inventore iusto.
            |Asperiores exercitationem fuga odio. Architecto quasi rem saepe?

