section
    h1.text-center.uppercase.text-primary Classic grid
    .row
        p.col.four
            b class=&quot;col four&quot;
            br
            |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto
            |blanditiis cum dolorum illum iure modi mollitia nemo non ullam unde?
        p.col.four
            b class=&quot;col four&quot;
            br
            |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore error
            |odit officiis porro voluptatum. Adipisci atque corporis expedita harum veritatis?
        p.col.four
            b class=&quot;col four&quot;
            br
            |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut distinctio enim
            |laboriosam libero magni natus nobis quibusdam ratione repellendus voluptatibus!
    .space-25
    .row
        p.col.twelve
            b class=&quot;col twelve&quot;
            br
            |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet architecto
            |delectus dicta dignissimos doloremque eaque eligendi, iste labore necessitatibus
            |nemo officiis porro praesentium quidem quos repellat, rerum velit voluptatibus.
    .space-25
    .row
        p.col.six
            b class=&quot;col six&quot;
            br
            |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore error odit
            |officiis porro voluptatum. Adipisci atque corporis expedita harum veritatis?
        p.col.six
            b class=&quot;col six&quot;
            br
            |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut distinctio enim
            |laboriosam libero magni natus nobis quibusdam ratione repellendus voluptatibus!
    .space-25
    .row
        p.col.three
            b class=&quot;col three&quot;
            br
            |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto blanditiis
            |cum dolorum illum iure modi mollitia nemo non ullam unde?
        p.col.three
            b class=&quot;col three&quot;
            br
            |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore error odit
            |officiis porro voluptatum. Adipisci atque corporis expedita harum veritatis?
        p.col.three
            b class=&quot;col three&quot;
            br
            |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut distinctio enim
            |laboriosam libero magni natus nobis quibusdam ratione repellendus voluptatibus!
        p.col.three
            b class=&quot;col three&quot;
            br
            |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut distinctio enim
            |laboriosam libero magni natus nobis quibusdam ratione repellendus voluptatibus!

