section
    .container
        h1.text-center.uppercase.text-primary Background images
    header.bg-img.bg-img-full
        .filter.image(style="background-image:url('https://source.unsplash.com/category/nature')")
        .content
            .title
                h1.hero.uppercase.margin-0
                    strong Full header
                h2.light Random background image powered by https://source.unsplash.com/
    .space
    header.bg-img
        .filter.image(style="background-image:url('https://source.unsplash.com/category/buildings')")
        .content
            .title
                h1.jumbo.uppercase.margin-0
                    strong Background image
                h2.light Random background image powered by https://source.unsplash.com/
