extends base
block content
    .container
        .space-50
        header
            h1.xxxl.text-primary.margin-0
                strong ELASTICSS
            h2.xxl.light A light CSS framework
        hr
        include typography
        hr
        include grid
        hr
        include flex-grid
        hr
        include buttons
        hr
        include quotes
        hr
        include code.html
        hr
        include tables
        hr
        include lists
        hr
        include forms
    section.section-lg.text-center.default
        p.xxl .section divider
        button.btn-round Call to action
    .container
        include cards
        hr
        h2.margin-top And more...
        .space
