section
    h1.text-center.uppercase.text-primary Lists
    .flex-row
        .col
            ul
                li Item
                li Item
                li Item
                li Item
                li Item
                li Item
        .col
            ol
                li Item
                li
                    | Item:
                    ol
                        li Item
                        li Item
                        li Item
                li Item
                li
                    | Item:
                    ul
                        li Item
                        li Item
                        li Item
                li Item
                li Item
        .col
            dl
                dt Term
                dd Definition
                dd Definition
                dd Definition
                dt Term
                dd Definition
                dd Definition
                dd Definition
                dt Term
                dd Definition
                dd Definition
                dd Definition
