section.section
    h1.text-center.uppercase.text-primary Quotes
    blockquote
        p
            em Oh yeah!! ELASTICSS is super cool!
    blockquote
        q &nbsp;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, voluptates?&nbsp;
        footer Someone famous in
            cite(title='Source Title') Some good book
    p He said&nbsp;:
        q &nbsp;A wise man said:
            q If you fail to plan, you&apos;re planning to fail.
