section
    h1.text-center.uppercase.text-primary Typography
    h2 Headings
    h1 h1 &ndash; Lorem ipsum dolor
    h2 h2 &ndash; Lorem ipsum dolor
    h3 h3 &ndash; Lorem ipsum dolor
    h4 h4 &ndash; Lorem ipsum dolor
    h5 h5 &ndash; Lorem ipsum dolor
    h6.margin-0 h6 &ndash; Lorem ipsum dolor
    .space-25
    h2 Text tags
    strong Bold
    br
    em Italicized
    br
    a(href='#') Link
    br
    u Underlined
    .space-25
    h2 Paragraphs
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    |Eaque ex fugit pariatur? Accusamus accusantium beatae culpa
    |cupiditate debitis deleniti dolorem enim, est iusto laboriosam
    |laborum laudantium magnam molestiae molestias nobis numquam officia
    |quidem quisquam repellat rerum similique sint sit tenetur! Autem eos
    |inventore iure maiores optio quisquam recusandae reprehenderit tenetur?

