// CODE
// ––––––––––––––––––––––––––––––––––––––––––––––––––

code
    background: very-dark-grey
    border: 1px solid very-light-grey
    border-radius: 4px
    color: light-grey
    font-family: Consolas, "courier new"
    margin: 0 .2rem
    padding: .2rem .5rem
    white-space: nowrap

pre > code
    display: block
    padding: 1rem 1.5rem
    white-space: pre
