// COLORS
//
// ––––––––––––––––––––––––––––––––––––––––––––––––

// amber = #FFC107
// blue = #2196F3
// blue-grey = #607D8B
// brown = #795548
cyan = #00BCD4
// green = #4CAF50
// indigo = #3F51B5
// light-blue = #03A9F4
light-green = #8BC34A
// lime = #CDDC39
orange = #FF9800
// deep-orange = #FF5722
// pink = #E91E63
purple = #9C27B0
// deep-purple = #673AB7
red = #f44336
// teal = #009688
// yellow = #FFEB3B

black = #000
text = #222
very-dark-grey = #292929
dark-grey = #616161
grey = #9e9e9e
light-grey = #ddd
very-light-grey = #e1e1e1
almost-white-grey = #f1f1f1
white = #fff

$default = grey
primary = purple
info = cyan
success = light-green
warning = orange
danger = red

// Background classes
.default, .hover-default:hover
    background-color: $default
    color: white

.primary, .hover-primary:hover
    background-color: primary
    color: white

.info, .hover-info:hover
    background-color: info
    color: white

.success, .hover-success:hover
    background-color: success
    color: white

.warning, .hover-warning:hover
    background-color: warning
    color: white

.danger, .hover-warning:hover
    background-color: danger
    color: white

// Text classes
.text-default, .hover-text-default:hover
    color: $default

.text-primary, .hover-text-primary:hover
    color: primary

.text-info, .hover-text-info:hover
    color: info

.text-success, .hover-text-success:hover
    color: success

.text-warning, .hover-text-warning:hover
    color: warning

.text-danger, .hover-text-danger:hover
    color: danger

// Border classes
.border-default, .hover-border-default:hover
    border-color: $default

.border-primary, .hover-border-primary:hover
    border-color: primary

.border-info, .hover-border-info:hover
    border-color: info

.border-success, .hover-border-success:hover
    border-color: success

.border-warning, .hover-border-warning:hover
    border-color: warning

.border-danger, .hover-border-danger:hover
    border-color: danger
