// CONTAINER
//
// The container is common to the two grid systems
// ––––––––––––––––––––––––––––––––––––––––––––––––

.container:after,
.row:after,
.cf
    clear: both
    content: ""
    display: table

.container
    box-sizing: border-box
    margin: 0 auto
    max-width: 112.0rem
    padding: 0 2rem
    position: relative
    width: 100%
    &.txt
        max-width: 76rem
        text-align: center
