// GRID
//
// Based on Skeleton system
// ––––––––––––––––––––––––––––––––––––––––––––––––

.col
    box-sizing: border-box
    float: left
    width: 100%

@media (min-width: 400px)
    .container
        padding: 0
        width: 85%

@media (min-width: 550px)
    .container
        width: 80%

    .col
        margin-left: 4%
        &:first-child
            margin-left: 0

    .one
        &.col
            width: 4.66666666667%

    .two
        &.col
            width: 13.3333333333%

    .three
        &.col
            width: 22%

    .four
        &.col
            width: 30.6666666667%

    .five
        &.col
            width: 39.3333333333%

    .six
        &.col
            width: 48%

    .seven
        &.col
            width: 56.6666666667%

    .eight
        &.col
            width: 65.3333333333%

    .nine
        &.col
            width: 74.0%

    .ten
        &.col
            width: 82.6666666667%

    .eleven
        &.col
            width: 91.3333333333%

    .twelve
        &.col
            margin-left: 0
            width: 100%

    .one-third
        &.col
            width: 30.6666666667%

    .two-thirds
        &.col
            width: 65.3333333333%

    .one-half
        &.col
            width: 48%

    .offset-by-one
        &.col
            margin-left: 8.66666666667%

    .offset-by-two
        &.col
            margin-left: 17.3333333333%

    .offset-by-three
        &.col
            margin-left: 26%

    .offset-by-four
        &.col
            margin-left: 34.6666666667%

    .offset-by-five
        &.col
            margin-left: 43.3333333333%

    .offset-by-six
        &.col
            margin-left: 52%

    .offset-by-seven
        &.col
            margin-left: 60.6666666667%

    .offset-by-eight
        &.col
            margin-left: 69.3333333333%

    .offset-by-nine
        &.col
            margin-left: 78.0%

    .offset-by-ten
        &.col
            margin-left: 86.6666666667%

    .offset-by-eleven
        &.col
            margin-left: 95.3333333333%

    .offset-by-one-third
        &.col
            margin-left: 34.6666666667%

    .offset-by-two-thirds
        &.col
            margin-left: 69.3333333333%

    .offset-by-one-half
        &.col
            margin-left: 52%
