// HELPERS
//
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.bg-img
    width: 100%
    height: 65vh
    position relative
    & > .image
        background-size: cover
        background-position: center center
        background-repeat: no-repeat
        width: 100%
        height: 65vh
    .content
        position: absolute
        width: 100%
        height: 100%
        display: block
        top: 0
        .title
            position: relative;
            color: white;
            text-align: center;
            text-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
            vertical-align: center;
            top: 40%;

.bg-img-full
    height 100vh
    & > .image
        height: 100vh

.filter
    position: relative
    height: 100%
    color: #FFFFFF
    &:before
        position: absolute
        left: 0
        top: 0
        width: 100%
        height: 100%
        display: block
        content: ""
        opacity: .7
        background: very-dark-grey

.section-sm
    padding: 5rem 0

.section-md
    padding: 7rem 0

.section-lg
    padding: 10rem 0

.section-xl
    padding: 15rem 0

.section-xxl
    padding: 20rem 0

.text-center
    text-align: center

.left-align
    text-align: left

.right-align
    text-align: right

.justify
    text-align: justify

.light
    font-weight: 100

.uppercase
    text-transform: uppercase

.xl
    font-size: 2.6rem

.xxl
    font-size: 3.4rem

.xxxl
    font-size: 4rem

.jumbo
    font-size: 5rem
    letter-spacing: .1rem

.hero
    font-size: 5.5rem
    letter-spacing: .1rem



@media (min-width: 550px)
    .xl
        font-size: 3rem

    .xxl
        font-size: 4rem

    .xxxl
        font-size: 5rem

    .jumbo
        font-size: 6rem

    .hero
        font-size: 7rem
        letter-spacing .2rem

.space
    display: block
    height: 10rem


.space-25
    display: block
    height: 2.5rem


.space-50
    display: block
    height: 5rem


.full-width
    width: 100%

.top,
.bottom
    position: fixed
    width: 100%
    z-index: 1

.top
    top: 0

.bottom
    bottom: 0

.left
    float: left

.right
    float: right

.circle
    border-radius: 50%

.border-0
    border: 0

.border
    border: 1px solid primary

.border-top
    border-top: 1px solid primary

.border-bottom
    border-bottom: 1px solid primary

.border-left
    border-left: 1px solid primary

.border-right
    border-right: 1px solid primary

.margin
    margin: 2rem

.margin-0
    margin: 0

.margin-top
    margin-top: 2rem

.margin-bottom
    margin-bottom: 2rem

.margin-left
    margin-left: 2rem

.margin-right
    margin-right: 2rem

.padding-xs
    padding: 2px 4px

.padding-sm
    padding: 4px 8px

.padding
    padding: 8px 16px

.padding-large
    padding: 12px 24px

.padding-xl
    padding: 16px 32px

.padding-xxl
    padding: 24px 48px

.padding-top
    padding-top: 8px

.padding-bottom
    padding-bottom: 8px

.padding-left
    padding-left: 16px

.padding-right
    padding-right: 16px

.padding-0
    padding: 0
