// LISTS
//
// ––––––––––––––––––––––––––––––––––––––––––––––––

dl,
ol,
ul
    list-style: none
    margin-top: 0
    padding-left: 0

    dl,
    ol,
    ul
        margin: 1.5rem 0 1.5rem 4rem

ol
    list-style: decimal inside
    ol
        list-style: lower-alpha inside

