// MIXINS
// ––––––––––––––––––––––––––––––––––––––––––––––––––

btn-variant(background, color)
    background-color: background
    border-color: background
    color: color

    &:focus,
    &:hover
        background-color: darken(background, 5)
        border-color: darken(background, 5)
        color: color

btn-outline(color)
    background-color: transparent
    border-color: color
    color: color

    &:focus,
    &:hover
        background-color: transparent
        border-color: darken(color, 10)
        color: darken(color, 10)

btn-matte(background, hover)
    background-color: background
    border-color: background
    color: white

    &:focus,
    &:hover
        background-color: hover
        border-color: hover
        color: white

btn-matte-outline(color, hover)
    background-color: transparent
    border-color: color
    color: color

    &:focus,
    &:hover
        background-color: transparent
        border-color: hover
        color: hover
