// TABLES
// ––––––––––––––––––––––––––––––––––––––––––––––––––

table
    border-spacing: 0
    width: 100%

th
    font-weight: 400

td,
th
    border-bottom: .1rem solid very-light-grey
    padding: 1.2rem 1.5rem
    text-align: center

    &:first-child
        padding-left: 0

    &:last-child
        padding-right: 0

.striped
    tbody
        tr:nth-child(even)
            background-color: almost-white-grey

.hover
    tbody
        tr:hover
            background-color: very-light-grey

